<div>
    
    <div class="search">
        <form class="form-inline clearfix" role="form" method="get" action="/search/(.+)/"> 
            <!-- 站内搜索 -->
            <input type="text" class="form-control" name="search_in_website" placeholder="站内搜索">
            <button class="btn btn-blog">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
        <br>
        <form action="http://www.baidu.com/baidu" target="_blank"class="form-inline clearfix">
            <a href="http://www.baidu.com/"></a>
            <input type=text class="form-control" name='word' placeholder="站外搜索" />
            <button class="btn btn-blog">
                    <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
    </div>
    <a href="https://cloud.tencent.com/act/industry/video?fromSource=gwzcw.1087489.1087489.1087489"><img src="/static/image/adv1.png" alt="博客园 logo" style="border:0px"/></a>
</div>